@font-face {
    font-family: "InterRegular";
    src: local("InterRegular"),
     url("./assets/font/Inter-Regular.otf") format("truetype");
    font-weight: bold;
    }

@font-face {
        font-family: "InterSemiBold";
        src: local("InterSemiBold"),
         url("./assets/font/Inter-SemiBold.otf") format("truetype");
        font-weight: bold;
    }
    